# Logs
*.log

# Coverage tools
coverage
flow-coverage

# Dependency directory
/yarn.lock
npm-debug.log
node_modules

# Editor artifacts
.idea

# Test builds
/tests/acceptance/build

# Build
lib

# Other
.DS_Store
